* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dark-gray {
  background-color: rgba(0, 0, 0, .9);
}

.dark-gradient {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(54,54,56,1) 0%, rgba(0,0,0,1) 100%);
}

.section-header {
  color: #fff;
}

/* ---------------------- login & register ---------------------- */

.login-page-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-section,
.register-section {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.login-section label,
.login-section input,
.register-section label,
.register-section input {
  display: block;
  width: 100%;
  border-radius: 4px;
}
.login-section label,
.register-section label {
  font-size: 14px;
  line-height: 1.6;
  padding: 6px 0 0 0;
  color: #00796b;
}

.login-section input,
.register-section input {
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.login-section button,
.register-section button {
  font-size: 16px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  background-color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}

.login-section .login-button,
.register-section .register-button {
  color: #00796b;
}

.login-section .register-button {
  color: #ffa000;
}

.login-section button:hover,
.register-section button:hover {
  background-color: #00796b;
  transition: 0.3s ease-in-out;
  color: white;
  border: 1px solid #00796b;
  opacity: 0.8;
}

.login-section .login-button:hover {
  background-color: #00796b;
  border: 1px solid #00796b;
}

.login-section .register-button:hover {
  background-color: #ffa000;
  border: 1px solid #ffa000;
}

.login-section .action-section {
  display: flex;
  justify-content: space-between;
}

button:focus {
  outline: none;
}

#error-message,
#server-error-message {
  visibility: hidden;
  margin: 0 auto !important;
  background-color: #e57373;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 30px;
  font-size: 16px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
}

#error-message.show,
#server-error-message.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

/* ---------------------- canvas ---------------------- */

.create-card-page {
  display: flex;
}

.create-card-page .history-section {
  padding: 8px 16px;
  flex-basis: 15%;
  height: 100vh;
  overflow: auto;
}
/* ------------ scroll ------------*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

.create-card-page .history-section ul {
  padding-left: 0;
  list-style: none;
}

.create-card-page .history-section ul li {
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;
}

.create-card-page .history-section ul li::after {
  /* overlay */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .2s ease-in-out;
}

.create-card-page .history-section ul li:hover::after {
  background-color: rgba(0, 0, 0, .4);
}

.create-card-page .history-section ul li img {
  height: 100px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.create-card-page .history-section ul li p {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 0;
}

.create-card-page .canvas-section {
  flex-basis: 75%;
  height: 100vh;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(54,54,56,1) 0%, rgba(0,0,0,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-card-page .canvas-section .canvas-container {
  height: 550px !important;
  width: 90% !important;
  background-color: #fff;
  box-shadow: 0px 3px 13px 5px rgba(0,0,0,1);
}

.create-card-page .canvas-section .canvas-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.create-card-page .toolbar-section {
  flex-basis: 20%;
  padding: 12px 16px;
}

.create-card-page .toolbar-buttons .toolbar-element {
  margin: 24px 0;
  display: flex;
  align-items: center;
}

.create-card-page .toolbar-section .toolbar-buttons .toolbar-btn {
  border: none;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 12px;
  padding: 8px;
}

.create-card-page .toolbar-section .toolbar-buttons .toolbar-btn:hover  {
  background-color: #fff;
  transition: 0.3s ease-in-out;
  border: none;
  opacity: 0.8;
}

.create-card-page .toolbar-section .toolbar-buttons .toolbar-btn .fa {
  font-size: 32px;
  color: #fff;
}

.create-card-page .toolbar-section .toolbar-buttons .toolbar-btn:hover > .fa {
  color: #000;
}

.create-card-page .toolbar-section .toolbar-buttons .toolbar-element .color-input {
  width: 25px;
  height: 25px;
  border: none;
  background-color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}